.Introduce_inside_top_div {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.Introduce__inside_top_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 4rem;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "azonix";
}
