.Introduce_top_div {
  width: auto;
  height: auto;
  display: flex;
  width: 100vw;
  font-size: 6em;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}

.intro_reveal {
  left: 10%;
}

.Introduce_intro {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 20%;
}
.Introduce_intro span {
  position: absolute;
  line-height: 6.2rem;
}

.Introduce_intro1 {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 25%;
}
.Introduce_intro1 span {
  position: absolute;
  line-height: 6.5rem;
}

.Introduce_intro2 {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 30%;
}
.Introduce_intro2 span {
  position: absolute;
  line-height: 6.5rem;
}

.Introduce_intro3 {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 35%;
}
.Introduce_intro3 span {
  position: absolute;
  line-height: 6.5rem;
}

@media (max-width: 1024px) {
  .intro_reveal {
    font-size: 3.5em;
  }
  .Introduce_intro3 {
    top: 67%;
  }
}
@media (max-width: 479px) {
  .intro_reveal {
    font-size: 2em;
  }
}
