.Introduce_top_div {
  width: auto;
  height: auto;
}
.Introduce_intro {
  position: absolute;
  font-size: 6em;
  top: 20%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}
.Introduce_intro1 {
  position: absolute;
  font-size: 6em;
  top: 35%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}
.Introduce_intro2 {
  position: absolute;
  font-size: 6em;
  top: 50%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}
.Introduce_intro3 {
  position: absolute;
  font-size: 6em;
  top: 65%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}

.project_reveal {
  display: block;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s;
  transition-delay: 0.2s;
}
.project_reveal:nth-child(2) {
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s;
  transition-delay: 0.2s;
  margin-top: 10px;
}
.project_reveal:nth-child(3) {
  margin-top: 10px;
}
.project_reveal.active {
  transform: scaleX(1);
  transition-delay: 0s;
}

.project_reveal.active::before {
  transform: scaleX(0);
  transition-delay: 0.2s;
}

.project_reveal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform-origin: right;
  transition: 0.2s;
  transition-delay: 0s;
}
.project_reveal:nth-child(2):before {
  transition-delay: 0.1s;
}
