.Introduce_top_div {
  width: auto;
  height: auto;
  display: flex;
  width: 100vw;
  font-size: 6em;
  font-family: 'GT-Sectra-Fine', 'Microsoft Yahei';
  color: white;
  pointer-events: auto;
}

.intro_reveal {
  left: 10%;
}

.Introduce_intro {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 20%;
}
.Introduce_intro span {
  position: absolute;
  line-height: 6.2rem;
}

.Introduce_intro1 {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 25%;
}
.Introduce_intro1 span {
  position: absolute;
  line-height: 6.5rem;
}

.Introduce_intro2 {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 30%;
}
.Introduce_intro2 span {
  position: absolute;
  line-height: 6.5rem;
}

.Introduce_intro3 {
  width: 70%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  top: 35%;
}
.Introduce_intro3 span {
  position: absolute;
  line-height: 6.5rem;
}

.button_container {
  display: flex;
  position: relative;
  top: 40%;
  left: 10%;
}
.intro_button {
  font-size: 1.5rem;
  position: relative;
  padding: 12px 36px;
  margin: 10px 0;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
  cursor: pointer;
}

.intro_button2 {
  font-size: 1.5rem;
  position: relative;
  padding: 12px 36px;
  margin: 10px 0;
  margin-right: 80px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid #755bea;
  cursor: pointer;
}
.Introduce_a {
  text-decoration: none;
  color: inherit;
}
