@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.CharacterSetting_top_div {
  width: 100vw;
  height: 100vh;
  background-color: rgb(30 41 59);
  position: absolute;
  color: white;
}
.CharacterSetting_codeblock {
  position: relative;
  top: 10%;
  margin-left: 3rem;
  width: 70vw;
  height: 35vh;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 0.75rem;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background-color: #1a202c;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.CharacterSetting_generate_button {
  display: flex;
  position: relative;
  top: 15%;
  padding: 12px 36px;
  margin-left: 3rem;
  margin-top: 5px;
  letter-spacing: 2px;
  border-radius: 40px;
  /* background: linear-gradient(90deg, #0162c8, #55e7fc); */
  background-image: linear-gradient(30deg, #0162c8, #55e7fc 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 0%;
  border: 1px solid transparent;
  cursor: pointer;
  width: 7rem;
  height: 32px;
  transition: 300ms ease-in-out;
}
.CharacterSetting_generate_save {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  position: relative;
  top: 15%;
  padding: 12px 36px;
  /* margin: 15px 3px; */
  margin-left: 3rem;
  margin-top: 5px;
  letter-spacing: 2px;
  border-radius: 40px;
  background-image: linear-gradient(30deg, #0162c8, #7a36da 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 0%;
  border: 1px solid transparent;
  cursor: pointer;
  width: 12rem;
  transition: 300ms ease-in-out;
}
.CharacterSetting_generate_save:hover {
  background-position: 100%;
  border: 1px solid #fff;
  color: #7a36da;
}

.CharacterSetting_generate_button:hover {
  background-position: 100%;
  border: 1px solid #fff;
  color: #55e7fc;
}
/* 스트리밍 메시지 css */
.stream_token_span {
  font-size: 20px;
  font-family: 'Black Ops One', cursive;
}
.CharacterSetting_generate_not_loading {
  font-size: 1.5rem;
}
/* 스트리밍 중 generate 버튼 로딩 */
.loading_active {
  margin: 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* setting 폰트 */
.CharacterSetting_setting_name {
  position: relative;
  top: 25%;
  /* margin-left: 7em; */
  margin-left: 1.5em;
  /* left: 80%; */
  font-size: 2.5rem;
  font-family: 'azonix';
}
/* 하이퍼파라미터 top div */
.setting_range_container {
  position: relative;
  top: 20%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  background-color: rgb(30 41 59);
}
/* 드롭다운 메뉴 */
.Charsetting_dropdown_body {
  display: flex;
  position: relative;
  top: 22%;
  /* margin-left: 10em; */
  left: 78%;
}
.Charsetting_dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.Charsetting_dropdown * {
  box-sizing: border-box;
}

.Charsetting_select {
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}
.Charsetting_select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.Charsetting_select:hover {
  background: #323741;
}
.Charsetting_caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.Charsetting_caret-rotate {
  transform: rotate(180deg);
}
.Charsetting_menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  /* 하이퍼파라미터 조정하는 버튼이 z-index가 3이므로 더 높아야함 */
  z-index: 5;
}

.Charsetting_menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.Charsetting_menu li:hover {
  background: #2a2d35;
}

.Charsetting_active {
  background: #23242a;
}
.Charsetting_menu-open {
  display: block;
  opacity: 1;
}
