.CharracterSettingRange_top_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
  max-width: 900px;
}

.range-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  color: #fff;
  margin: 4em auto;
}

.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 70vw;
  max-width: 30em;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5em;
  outline: none;
  border-radius: 3px;
  background: #1f1f1f;
  box-shadow: inset 3px 3px 6px #000, 1px 1px 1px #909090;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  z-index: 3;
  position: relative;
}

.progress {
  width: 0;
  height: 0.4em;
  border-radius: 3px;
  background: linear-gradient(90deg, #55e0ff, #3193fc);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
  transition-property: box-shadow;
  transition-duration: 0.2s;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-thumb {
  position: absolute;
  width: 1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: -0.5em;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}

.slider-values {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-input {
  background: none;
  color: #fff;
  width: 4em;
  border: 1px #909090 solid;
  border-radius: 4px;
}

.range-slider:hover .progress {
  box-shadow: 0 0 1em #55e0ff;
}
