<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="dropdown">
      <div class="select">
        <span class="selected">Figma</span>
        <div class="caret"></div>
      </div>
      <ui class="menu">
        <li>Framer</li>
        <li>Sketch</li>
        <li>Invision Studio</li>
        <li>Figma</li>
        <li>Adobe XD</li>
      </ui>
    </div>
  </body>
</html>
