.chat_message_log {
  padding: 24px;
  text-align: left;
  color: white;
}

.chat_message_chat_message {
  padding: 12px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.chat_message_avatar {
  background: white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.chat_message_message {
  padding-left: 12px;
}

/* .chat_message_log .chatbot {
  background-color: rgba(255, 255, 255, 0.1);
} */
.chat_message_name {
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  max-width: 100px;
}
