header {
  margin: 0;
  padding: 0;
  font-family: "azonix";
  color: white;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

header {
  position: absolute;
  top: 1.25rem;
  left: 50%;
}
.logo {
  text-align: left;
}
.nav_list {
  display: flex;
  gap: 4rem;
}
.nav {
  margin-top: 20px;
}

.intro {
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 0.25em;
  /* visibility: hidden; */
  overflow: hidden;
}
.intro span {
  display: block;
  position: relative;
}

.intro span::before {
  content: attr(data-char);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-110%);
  color: #fff;
}
