.Introduce_top_div {
  width: auto;
  height: auto;
}
.Introduce_intro {
  position: absolute;
  font-size: 6em;
  top: 20%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}
.Introduce_intro1 {
  position: absolute;
  font-size: 6em;
  top: 35%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}
.Introduce_intro2 {
  position: absolute;
  font-size: 6em;
  top: 50%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}
.Introduce_intro3 {
  position: absolute;
  font-size: 6em;
  top: 65%;
  left: 10%;
  font-family: "GT-Sectra-Fine", "Microsoft Yahei";
  pointer-events: none;
  color: white;
}
